* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

.container {
  height: 100vh;
  width: 100vw;
  background-color: lightsteelblue;
  display: flex;
  justify-content: center;
  align-items: center;
  color: #fff;

  .phone {
    width: 300px;
    height: 550px;
    background-image: url(/landscape-photography-of-snowy-mountain-1366919.jpg);
    background-size: cover;
    background-position: center;
    border-left: 3px solid #000;
    border-right: 3px solid #000;
    border-top: 7px solid #000;
    border-bottom: 7px solid #000;
    border-radius: 10px;
    position: relative;
    overflow: hidden;
    transition: all .7s ease-in-out;
    z-index: 1;

    .phone-nav {
      display: flex;
      justify-content: space-between;
      align-items: center;
      font-size: 13px;
      padding: 5px;
      height: 30px;
      z-index: 10;
      background-color: rgba($color: #000000, $alpha: .2);

      .other {
        display: flex;
        

        .items {
          margin-left: 3px;
        }
      }

      .nav-location {
        animation-name: location;
        animation-duration: 2s;
        animation-iteration-count: infinite;

        @keyframes location {
         0% {
          opacity: 1;
         }
         50% {
          opacity: 0;
         }
         100% {
          opacity: 1;
         }
        }
      }
    }

    .phone-menu {
      display: flex;
      font-size: 20px;
      justify-content: space-evenly;
      flex-wrap: wrap;
      background-color: #fff;
      color: rgb(95, 95, 95);
      padding: 5px 10px 10px 5px;
      transform: translateY(-150%);
      opacity: .7;
      transition: all .7s ease;
      position: absolute;
      z-index: 9;

      .menu-item {
        position: relative;
        display: flex;
        align-items: center;
        justify-content: space-between;
        flex-direction: column;
        width: 70px;
        height: 50px;
        text-align: center;
        padding: 5px;
        margin: 3px;

        &::after {
          position: absolute;
          content: "";
          height: 1px;
          width: 85%;
          background-color: #ccc;
          top: 60%;
        }

        & ion-icon {
          transition: .3s ease;
        }

        &:hover > ion-icon {
          transform: scale(1.2);
        }

        .item-name {
          font-size: 10px;
        }
      }

      .menu-item-active {
        color: rgb(0, 195, 255);
      }
    }

    .phone-menu-active {
      transform: translateY(0%);
      opacity: 1;
    }

    .finger-print {
      position: absolute;
      bottom: 10px;
      left: 50%;
      transform: translateX(-50%);
      font-size: 40px;
      opacity: .6;
      animation-name: finger;
      animation-duration: 2s;
      animation-iteration-count: infinite;

      @keyframes finger {
        0%   {
          opacity: .2;
        }
        50% {
          opacity: 1;
        }
        100% {
          opacity: .2;
        }
      }
    }

    .finger-print-disabled {
      display: none;
    }

    .phone-lock {
      position: absolute;
      bottom: 10px;
      left: 50%;
      transform: translateX(-50%);
      font-size: 40px;
      visibility: hidden;
    }

    .phone-lock-active {
      visibility: visible;
    }

    .phone-display {
      display: flex;
      position: absolute;
      width: 100%;
      justify-content: space-around;
      flex-wrap: wrap;
      opacity: 0;
      transition: all .7s ease;

      .display-icons {
        margin: 15px 0px;

        & img {
          width: 35px;

          &:hover {
            transform: scale(1.1);
          }
        }
      }
    }

    .phone-display-active {
      opacity: 1;
    }
  }

  .phone-landscape {
    width: 550px;
    height: 300px;
    border-left: 7px solid #000;
    border-right: 7px solid #000;
    border-top: 3px solid #000;
    border-bottom: 3px solid #000;

  }

  .phone-power-save {
    filter: brightness(50%);
  }

  .phone-contrast {
    filter: contrast(1.75);
  }
}

.light {
  position: absolute;
  width: 150px;
  height: 150px;
  background-color: #fff;
  box-shadow: -100px -200px 90px 120px #fff; 
  border-radius: 50%;
}

// DISPLAY APPLICATIONS

.app {
  width: 100%;
  height: 100%;
  position: absolute;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  transform: translateY(100%);
  transition: transform .5s ease-in-out;
}

.app-input-groups {
  display: flex;
  flex-direction: column;
  width: 80%;

  .inputs {
    background: none;
    outline: none;
    border: none;
  }
}

.app-btn {
  border: none;
  outline: none;
}

.app-return {
  position: absolute;
  font-size: 30px;
  color: #fff;
  left: -2%;
  top: 0;
  font-size: 40px;
}

// FACEBOOK APP
.facebook-app {
  background-color: #3B5998;

  .fb-logo {
    font-size: 50px;
    margin-bottom: 20px;
    margin-top: -50px;
  }

  .fb-input {
    border-bottom: 1px solid #ACB9D3;
    padding: 7px 3px ;

    &::placeholder {
      color: #ACB9D3;
    }
  }

  .fb-btn {
    background-color: #4E69A2;
    color: #899BC1;
    margin-top: 20px;
    padding: 7px 0px;
    text-transform: uppercase;
  }
  

  .fb-links {
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-top: 20px;

    & a {
      margin-top: 5px;
      text-decoration: none;
      color: #fff;
    }
  }
}

// INSTAGRAM APP
.instagram-app {
  background-image: linear-gradient(to bottom right, #7C50AD, #C43867);
  display: flex;
 
  .insta-logo {
    width: 50%;
    color: white;
    margin-bottom: 20px;
  }

  .insta-input {
    background-color: #A4579F;
    padding: 10px 10px;
    margin-bottom: 10px;
    
    &::placeholder {
      color: #D9BCDA;
      font-size: 14px;
    }
  }

  .insta-btn {
    background-color: transparent;
    border: 1px solid rgb(177, 115, 173);
    padding: 10px 0px;
    color: rgb(177, 115, 173);
    font-weight: bold;
    margin-bottom: 15px;
  }

  .insta-sign-in {
    position: relative;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    font-size: 12px;

    & p {
      margin-bottom: 6px;
      color: #D9BCDA;
    }

    & a {
      text-decoration: none;
      color: #E6C1D8;
      font-weight: bold;
    }

    .insta-or {
      margin: 6px 0px;

      &::before {
        content: "";
        position: absolute;
        background-color: rgb(177, 115, 173);
        left: 0;
        top: 48%;
        width: 40%;
        height: 1px;
      }

      &::after {
        content: "";
        position: absolute;
        background-color: rgb(177, 115, 173);
        right: 0;
        top: 48%;
        width: 40%;
        height: 1px;
      }
    }

    .insta-log-in {
      display: flex; 
      justify-content: center;
      align-items: center;

      .insta-fb-icon {
        font-size: 20px;
        margin-right: 5px;
      }

      & a {
        font-size: 16px;
        color: #fff;
      }
    }
  }

  .insta-footer {
    width: 100%;
    display: flex;
    position: absolute;
    justify-content: center;
    align-items: center;
    bottom: 6%;
    padding: 8px 0px;
    font-size: 13px;
    border-top: 1px solid rgb(177, 115, 173);

    & p {
      margin-right: 5px;
      color: #D9BCDA;
    }

    & a {
      color: #E6C1D8;
      font-weight: bold;
      text-decoration: none;
    }
  }
}

.hide {
  display: none;
}

.app-open {
  transform: translateY(0%);
}

.show {
  display: inline-block;
}